body {
  background-color: #333F50!important;
  color: #ddd!important;
  font-family: 'Bahnschrift Light', 'Segoe UI Light', sans-serif !important;
  font-size: 15px;
}

h1 {
  margin-top: 30px;
  font-family: 'Bahnschrift', 'Segoe UI', sans-serif;
}

p {
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.1rem;
}

.msg {
  font-family: 'Lucida Sans Typewriter', 'Courier New', 'Consolas', monospace;
  color: #ddd;
  background-color: #263243;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.error {
  color: #FF5364;
}

textarea.form-control {
  font-family: 'Lucida Sans Typewriter', 'Courier New', 'Consolas', monospace;
  font-size: inherit!important;
  color: #D1E4FD!important;
  background-color: #1A2637!important;
  padding: 20px!important;
  border: none!important;
  border-radius: 10px!important;
  resize: vertical!important;
  min-height: 120px!important;
}

textarea.form-control:active, textarea.form-control:focus {
  box-shadow: none!important;
}

.cell-div {
  position: relative;
}

.play-button-div {
  position: absolute;
  right: 10px;
  top: 10px;
}

.play-button {
  color: #27DDCB;
  height: 20px;
  width: 20px;
  transition: 0.3s;
}

.play-button:hover {
  color: #01B7A5;
  transition: 0.3s;
  cursor: pointer;
}

pre {
  color: inherit!important;
  font-size: inherit!important;
  margin: 0!important;
  font-family: inherit!important;
}

.btn-blue {
  background-color: #7B73F0!important;
  color: white!important;
  transition: 0.3s!important;
}

.btn-blue:hover {
  background-color: #625AD7!important;
  color: #fafafa!important;
  transition: 0.3s!important;
}

.return-text {
  color: #7B73F0!important;
}

.modal-content.bg-dark {
  background-color: #172334!important;
}

.text-green {
  color: #27DDCB;
}

.text-blue {
  color: #7B73F0;
}